<div class="grid grid-flow-row grid-cols-3 gap-4 mb-2">
    <a class="tag p1p1 mx-auto" href="{{ site.baseUrl }}tag/1p1p">1인 1 프로젝트</a>
    <a class="tag productivity mx-auto" href="{{ site.baseUrl }}tag/productivity">생산성</a>
    <a class="tag programming mx-auto" href="{{ site.baseUrl }}tag/programming">프로그래밍</a>
    <a class="tag hajinism mx-auto" href="{{ site.baseUrl }}tag/hajinism">헛소리</a>
    <a class="tag podong mx-auto" href="{{ site.baseUrl }}tag/podong">고양이 포동</a>
    <a class="tag diary mx-auto" href="{{ site.baseUrl }}tag/diary">일기</a>
    <a class="tag study mx-auto" href="{{ site.baseUrl }}tag/study">공부</a>
</div>
